{% extends "arduinodataserver/base.html" %}
{% load i18n dataplotting summaries %}

{% block dataserver_content %}
<div class="page-header">
  <h1>{{ meter.name }} <small>{{ meter.meter_type }}</small></h1>
</div>

{{ meter.description|linebreaks }}

{% if meter.is_counter %}

<div class="row">

  <div class="span4">
    <h2>{% trans "Latest data" %}</h2>
    <div class="well">
      <table class="table table-striped">  
        <tbody>
          <tr>  
            <td>{% trans "Latest update" %}:</td>  
            <td>{{ meter.get_latest_data.created|default:_("None") }}</td>  
          </tr>
          {% if meter.is_counter %}
          <tr>  
            <td>{% trans "Last 5 minutes" %}:</td>  
            <td>{% get_latest_minutes_sum meter 5 %} {{ meter.unit_name|default:"" }}</td>
          </tr>
          <tr>  
            <td>{% trans "Last hour" %}:</td>  
            <td>{% get_latest_minutes_sum meter 60 %} {{ meter.unit_name|default:"" }}</td>
          </tr>
          {% else %}
          <tr>  
            <td>{% trans "Latest reading" %}:</td>  
            <td>{{ meter.get_latest_data.data_point|default:_("None") }} {{ meter.unit_name|default:"" }}</td>  
          </tr>              
          {% endif %}
        </tbody>
      </table>
    </div>
    <h2>{% trans "Download" %}</h2>
    <p>{% trans "Graphs cannot directly be rendered as an image file. But you can capture a screenshot or print this page as a PDF." %}</p>
  </div>
  <div class="span8 noprint">
    <h2>{% trans "Add data" %}</h2>
    {% if user %}
    <div class="well">
    
      <form method="POST">
        {% csrf_token %}
        <div class="row">
          <div class="span3">
            <p>
              {{ data_form.created_date.errors }}
              {{ data_form.created_date.label_tag }}
              {{ data_form.created_date }}
            </p>
            <p>
              {{ data_form.created_time.errors }}
              {{ data_form.created_time.label_tag }}
              {{ data_form.created_time }}
            </p>
          </div>
          <div class="span3">
            <p>
              {{ data_form.data_point.errors }}
              {{ data_form.data_point.label_tag }}
              {{ data_form.data_point }}
              <span class="helptext">{{ data_form.data_point.help_text }}</span>
            </p>
            {% if meter.is_counter %}
            <p>
              {{ data_form.diff.errors }}
              {{ data_form.diff.label_tag }}
              {{ data_form.diff }}
              <span class="helptext">{{ data_form.diff.help_text }}</span>
            </p>
            {% endif %}
          </div>
        </div>
        <input type="submit" class="btn btn-primary" value="{% trans "Add and update graphs" %}" />
      
      </form>
    
    </div>
    {% else %}
    <p><i>{% trans "You must be logged in" %}</i></p>    
    {% endif %}
  </div>
</div>

{% endif %}

{% for interval_type in meter.intervaltype_set.all %}

<hr />
<h2>{{ interval_type }}</h2>
<div class="row">
  <div class="span3">
    <h3>{% trans "Customize interval" %}</h3>
    <p>{% trans "Set the start and the end of the X-axis to manipulate." %}</p>
    <div class="well">
      <label for="start_at">
      {% trans "Start at:" %}
      </label>
		  <input type="text" class="datepicker from_date" value="{% now "Y-m-d" %}" data-date-format="yyyy-mm-dd" />
      <label for="end_at">
      {% trans "End at:" %}
      </label>
		  <input type="text" class="datepicker to_date" value="{% now "Y-m-d" %}" data-date-format="yyyy-mm-dd" />
		  <input type="button" value="{% trans "Update graph" %}" class="btn" onclick="set_data_{{ interval_type.id }}($(this).siblings('.from_date').val(), $(this).siblings('.to_date').val(), 1000)" />
    </div>
  </div>
  <div class="span9">
    {% google_chart interval_type 50 "300px" "" interval_type.id  %}
  </div>
</div>

{% endfor %}

<script type="text/javascript">
  $(function () {$('.datepicker').datepicker()});
</script>

{% endblock %}
