{% load dataplotting %}
<div id="chart{{ chart_id }}" class="chartcontainer" style="width: 100%; height: {{ height }};"></div>
<script type="text/javascript">
  $(function() {
      var data = new google.visualization.DataTable();
      data.addColumn('datetime', '');
      data.addColumn('number', '{{ interval_type.unit_name }}');
      data.addRows([
        {% for interval in intervals %}
        [new Date({{ interval.to_time.year }}, {{ interval.to_time.month }}-1, {{ interval.to_time.day }}, {{ interval.to_time.hour }}, {{ interval.to_time.minute }}, {{ interval.to_time.second }}+1), {{ interval.total|jsfloat:2 }}]{% if not forloop.last %},{% endif %}{% endfor %}
      ]);

      var options = {
        title: '',
        legend: 'none',
        pointSize: 5,
        legend :'none',
        axisFontSize : 0
        
      };

      var chart = new google.visualization.AreaChart(document.getElementById('chart{{ chart_id }}'));
      chart.draw(data, options);
      charts_redraw['chart{{ chart_id }}'] = [chart, data, options];
    }
  );
</script>

